<div class="col-md-12 p-b-30">
    <div class="row text-center p-b-20">
        <div class="asmodine-le-blog col-md-12">
            <a href="http://blog.asmodine.com/">
                <img class="va-baseline" src="{{ asset('/img/logo/asmodine-blog.jpg') }}"/>
            </a>
        </div>
        <div class="c-black f-18 f-300 col-md-12">{{ 'home.blog.subtitle'|trans }}</div>
    </div>
    <div class="row vertical-align">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                {% for article in articles %}
                   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mode">
                       <div class="image-container">
                           <a href="{{ article.link }}" title="Lire : {{ article.title }} sur le blog Asmodine" target="_blank" rel="noopener noreferrer">
                               <img class="blog_image" src="{{ (article.image) }}" alt="">
                           </a>
                       </div>
                       <div class="title"><p>{{ article.title }}</p></div>
                       <a href="{{ article.link }}" title="Lire : {{ article.title }} sur le blog Asmodine" target="_blank" rel="noopener noreferrer">
                           <button class="btn cta1">{{ 'home.blog.read'|trans }}</button>
                       </a>
                   </div>
               {% endfor %}
            </div>
        </div>
    </div>
</div>