{% extends 'AsmodineFrontBundle:_Mail:baseTemp.html.twig' %}

{% block title %}
    {{ 'email.registrationTemp.title'|trans|raw|upper }}
{% endblock %}

{% block content %}
    {{ 'email.registrationTemp.content'|trans({'%pass%': pass})|raw }}
{% endblock %}

{% block link_html %}
    <td style="border:2px solid #DBB15D;border-radius:0px;color:#DBB15D;cursor:auto;padding:10px 25px;" align="center" valign="middle" bgcolor="#ffffff">
        <a href="{{ asmodine_front_url ~ path('asmodinefront_user_activate', {'id': user_id, 'token': token}) }}" style="display:inline-block;text-decoration:none;background:#ffffff;color:#DBB15D;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:16px;font-weight:normal;margin:0px;" rel="noopener noreferrer" target="_blank">
            {{ 'email.registration.link_text'|trans|raw }}
        </a>
    </td>

{% endblock %}

{% block remind %}
    {{ 'email.registrationTemp.remind'|trans|raw }}
{% endblock %}

